html, body{
    margin: 0;
    background-color: rgb(119, 48, 160);
    height: 100%;
}

.wrapper{
    font-family: Belanosima;
    font-size: 0.75em;
    height: 100%;
}

.header{
    height: 15%;
}

.centre-wrapper{
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 2px;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
}

.centre-wrapper-left{
    width: 65%;
    height: 100%;
    background-image: url("LoginBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centre-wrapper-left-text{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    color: rgb(214, 212, 212);
}

.centre-wrapper-left-text h1{
    font-size: 2.5vw;
}

.centre-wrapper-left-text p{
    font-size: 1.5vw;
}

.centre-wrapper-right{
    width: 35%;
    height:100%;
}

.centre-wrapper-right-centre{
    width: 80%;
    margin: auto;
    margin-top: 120px;
}

.centre-wrapper-right-centre h1{
    color: rgb(138, 136, 136);
    font-size: 1.5em;
}

.login {
	width: 100%;
}

.login__field {
	padding: 10px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 40%;
    left: 10%;
	color: #7875B5;
}

.login__input {
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
    background: #e9e7e7;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login_option_field{
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 15px;
}

.login-option{
    width: 33.3%;
    height: 100%;
    font-size: 10px;
}

.login-option #forgotPass{
    margin: 0;
    padding: 0;
}

.login__submit {
	background: #fff;
    color: white;
	font-size: 14px;
	margin-top: 5px;
	padding: 8px 16px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	align-items: center;
	width: 50%;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
    background-image: linear-gradient(to right, rgba(138, 66, 187, 0.432), rgb(91, 22, 170));
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    position: relative;
    padding-left: 26px;
    padding-top: 7px;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c9c9c9;
    background-color: #dedbdb;
    border-radius: 26px;
} 

.checkbox:hover input ~ .checkmark {
    background-color: #c095c0;
  }

.checkbox input:checked ~ .checkmark {
    background-color: #1c09ac;
}

.checkbox .checkmark:after {
    top: 2px;
    width: 5px;
    height: 10px;
    left: 6px;
    color: white;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
} 
   
/*To hide the checkmark when not checked*/
.checkmark:after {
    content:'✓';
    position: absolute;
    display: none;
} 

.footer{
    height: 15%;
}